@import '~bootstrap/scss/bootstrap';

$element-background-color: #000;
$element-light-color: #fff;
$page-background-color: #E1FEB0;
$styled-font: 'Pacifico', cursive, Arial, Sans-serif;
$basic-font: 'Dosis', cursive, Sans-serif;

.player-wrapper {
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  position: relative;
}

.react-player {
  left: 0;
  padding-top: 3%;
  position: absolute;
  top: 0;
}

.song-info {
  font-family: $styled-font;
}

.song-link {
  color: $success;
  font-family: $styled-font;
}

.link {
  font-family: $styled-font;
}

.nav-title {
  font-family: $styled-font;
}

.table {
  width: auto;
}

.title {
  font-family: $basic-font;
}

.footer {
  background: $success;
  bottom: 0;
  color: #fff;
  display: inline;
  font-family: $styled-font;
  left: 0;
  padding: 0 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}
